In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv(r"C:\Users\7719s\Desktop\ai_class\week3\car_evaluation.csv", header=None) # header=None으로 설정하면 첫 번째 행이 칼럼명이 아니라고 인식
# url 에서 읽는경우 df = pd.read_csv("https://example.com/path/to/your/data.csv")

In [3]:
df

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

In [4]:
df.columns = ['price', 'maint', 'doors', 'persons', 'lug_capacity', 'safety','output'] # 컬럼명 지정
df.columns

Index(['price', 'maint', 'doors', 'persons', 'lug_capacity', 'safety',
       'output'],
      dtype='object')

In [5]:
df['output'].value_counts()

output
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [6]:
df.isnull().sum() # 결측치 확인
# 결측치가 존재하는 경우 제거
# df = df.dropna()
# 필요없는 컬럼 제거하는 방법
# columns_to_delete = ['col1', 'col2']
# df = df.drop(columns=columns_to_delete)
# 평균값으로 채워넣는법
# mean_age = df['age'].mean()
# df['age'] = df['age'].fillna(mean_age)

price           0
maint           0
doors           0
persons         0
lug_capacity    0
safety          0
output          0
dtype: int64

In [7]:
label_encoders = {}
columns_to_encode = ['price', 'maint', 'doors', 'persons', 'lug_capacity', 'safety']
for column in columns_to_encode:
    label_encoders[column] = LabelEncoder()
    df[column] = label_encoders[column].fit_transform(df[column])
df

      price  maint  doors  persons  lug_capacity  safety output
0         3      3      0        0             2       1  unacc
1         3      3      0        0             2       2  unacc
2         3      3      0        0             2       0  unacc
3         3      3      0        0             1       1  unacc
4         3      3      0        0             1       2  unacc
...     ...    ...    ...      ...           ...     ...    ...
1723      1      1      3        2             1       2   good
1724      1      1      3        2             1       0  vgood
1725      1      1      3        2             0       1  unacc
1726      1      1      3        2             0       2   good
1727      1      1      3        2             0       0  vgood

[1728 rows x 7 columns]

In [8]:
# 데이터와 타겟 분리
X = df.drop('output', axis=1).values
y = df['output'].values

In [9]:
scaler = StandardScaler() # 스케일 진
X = scaler.fit_transform(X)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape # 행과 열의 수 확인

((1382, 6), (346, 6), (1382,), (346,))

In [11]:
clf_svm = SVC(random_state=0)
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print("\n--- SVM Classifier ---")
print(accuracy_score(y_test, pred_svm))
print(confusion_matrix(y_test, pred_svm))

--- SVM Classifier ---
0.8988439306358381
[[ 67   5  11   0]
 [  6   4   0   1]
 [ 10   0 225   0]
 [  2   0   0  15]]

In [12]:
clf_lr = LogisticRegression(random_state=42, max_iter=200)
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, pred_lr))
print (confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.661849710982659
[[ 12   0  68   3]
 [  2   0   9   0]
 [ 17   0 217   1]
 [ 12   0   5   0]]

In [13]:
clf_dt = DecisionTreeClassifier(random_state=42)
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, pred_dt))
print (confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.9739884393063584
[[ 76   6   1   0]
 [  1  10   0   0]
 [  0   0 235   0]
 [  1   0   0  16]]

In [14]:
print ("\n--- Radom Forest ---")
rf_clf = RandomForestClassifier(random_state=42)
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)
print(accuracy_score(y_test,pred))
print (confusion_matrix(y_test, pred))

--- Radom Forest ---
0.976878612716763
[[ 76   7   0   0]
 [  0  11   0   0]
 [  0   0 235   0]
 [  1   0   0  16]]

In [15]:
print("\n--- KNN Classifier ---")
knn_clf = KNeighborsClassifier(n_neighbors=5)
knn_clf.fit(X_train, y_train)
pred_knn = knn_clf.predict(X_test)

print(accuracy_score(y_test, pred_knn))
print(confusion_matrix(y_test, pred_knn))

--- KNN Classifier ---
0.9335260115606936
[[ 70   0  11   2]
 [  5   6   0   0]
 [  1   0 234   0]
 [  3   0   1  13]]