In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv(r"C:\Users\이민규\Desktop\ai_class_git\week3\abalone.csv")
df

,id,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...,...
4172,4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [3]:
df.columns

Index(['id', 'Sex', 'Length', 'Diameter', 'Height', 'Whole_weight',
       'Shucked_weight', 'Viscera_weight', 'Shell_weight', 'Rings'],
      dtype='object')

In [4]:
df['Rings'].value_counts()

Rings
9     689
10    634
8     568
11    487
7     391
12    267
6     259
13    203
14    126
5     115
15    103
16     67
17     58
4      57
18     42
19     32
20     26
3      15
21     14
23      9
22      6
27      2
24      2
1       1
26      1
29      1
2       1
25      1
Name: count, dtype: int64

In [5]:
df.isnull().sum()

id                0
Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Rings             0
dtype: int64

In [6]:
label_encoder = LabelEncoder() # LabelEncoder 초기화
columns_to_encode = ['Sex'] # 특정 컬럼만 인코딩
for column in columns_to_encode:
    df.loc[:, column] = label_encoder.fit_transform(df[column])
print(df)

        id Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  \
0        0   2   0.455     0.365   0.095        0.5140          0.2245
1        1   2   0.350     0.265   0.090        0.2255          0.0995
2        2   0   0.530     0.420   0.135        0.6770          0.2565
3        3   2   0.440     0.365   0.125        0.5160          0.2155
4        4   1   0.330     0.255   0.080        0.2050          0.0895
...    ...  ..     ...       ...     ...           ...             ...
4172  4172   0   0.565     0.450   0.165        0.8870          0.3700
4173  4173   2   0.590     0.440   0.135        0.9660          0.4390
4174  4174   2   0.600     0.475   0.205        1.1760          0.5255
4175  4175   0   0.625     0.485   0.150        1.0945          0.5310
4176  4176   2   0.710     0.555   0.195        1.9485          0.9455

      Viscera_weight  Shell_weight  Rings
0             0.1010        0.1500     15
1             0.0485        0.0700      7
2             0.1415        0.2100      9
3             0.1140        0.1550     10
4             0.0395        0.0550      7
...              ...           ...    ...
4172          0.2390        0.2490     11
4173          0.2145        0.2605     10
4174          0.2875        0.3080      9
4175          0.2610        0.2960     10
4176          0.3765        0.4950     12

[4177 rows x 10 columns]

In [7]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df.drop('Rings', axis=1))

In [8]:
y=df['Rings']
y.value_counts()

Rings
9     689
10    634
8     568
11    487
7     391
12    267
6     259
13    203
14    126
5     115
15    103
16     67
17     58
4      57
18     42
19     32
20     26
3      15
21     14
23      9
22      6
27      2
24      2
1       1
26      1
29      1
2       1
25      1
Name: count, dtype: int64

In [28]:
# 컬럼갯수 확인
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(3341, 9) (3341,)
(836, 9) (836,)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y,test_size=0.2,random_state=42)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression() #여기가 다름
model.fit(X_train, y_train)
ly_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ly_preds, y_test)) # 정확도 출혁하는 부분도 다름

평균제곱근오차 4.960275930355892

In [11]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

model = DecisionTreeRegressor() # 여기가 다름
model.fit(X_train, y_train)
dy_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(dy_preds, y_test)) # 정확도 출력하는 부분도 다름

평균제곱근오차 6.104066985645933

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

model = RandomForestRegressor() # 여기가 다름
model.fit(X_train, y_train)
ry_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ry_preds, y_test)) # 정확도 출력하는 부분도 다름

평균제곱근오차 3.7195608851674637

In [13]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

model = SVR(kernel='linear') # 여기가 다름
model.fit(X_train, y_train)
ry_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ry_preds, y_test)) # 정확도 출력하는 부분도 다름

평균제곱근오차 5.162444457646147