In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader, TensorDataset
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from torchsummary import summary
import numpy as np

In [2]:
# 데이터셋 인스턴스 생성

df = pd.read_csv(r"C:\ai_class\mid\Mall_Customers.csv")  # CSV 파일 경로
df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [3]:
df.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [4]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [5]:
label_encoder = LabelEncoder() # LabelEncoder 초기화
columns_to_encode = ['Gender'] # 특정 컬럼만 인코딩
for column in columns_to_encode:
    df.loc[:, column] = label_encoder.fit_transform(df[column])
df

     CustomerID Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1      1   19                  15                      39
1             2      1   21                  15                      81
2             3      0   20                  16                       6
3             4      0   23                  16                      77
4             5      0   31                  17                      40
..          ...    ...  ...                 ...                     ...
195         196      0   35                 120                      79
196         197      0   45                 126                      28
197         198      1   32                 126                      74
198         199      1   32                 137                      18
199         200      1   30                 137                      83

[200 rows x 5 columns]

In [6]:
# 데이터와 타겟 분리
X = df.drop(['Spending Score (1-100)'], axis=1)
y = df['Spending Score (1-100)']

In [7]:
Y = y.values
Y

array([39, 81,  6, 77, 40, 76,  6, 94,  3, 72, 14, 99, 15, 77, 13, 79, 35,
       66, 29, 98, 35, 73,  5, 73, 14, 82, 32, 61, 31, 87,  4, 73,  4, 92,
       14, 81, 17, 73, 26, 75, 35, 92, 36, 61, 28, 65, 55, 47, 42, 42, 52,
       60, 54, 60, 45, 41, 50, 46, 51, 46, 56, 55, 52, 59, 51, 59, 50, 48,
       59, 47, 55, 42, 49, 56, 47, 54, 53, 48, 52, 42, 51, 55, 41, 44, 57,
       46, 58, 55, 60, 46, 55, 41, 49, 40, 42, 52, 47, 50, 42, 49, 41, 48,
       59, 55, 56, 42, 50, 46, 43, 48, 52, 54, 42, 46, 48, 50, 43, 59, 43,
       57, 56, 40, 58, 91, 29, 77, 35, 95, 11, 75,  9, 75, 34, 71,  5, 88,
        7, 73, 10, 72,  5, 93, 40, 87, 12, 97, 36, 74, 22, 90, 17, 88, 20,
       76, 16, 89,  1, 78,  1, 73, 35, 83,  5, 93, 26, 75, 20, 95, 27, 63,
       13, 75, 10, 92, 13, 86, 15, 69, 14, 90, 32, 86, 15, 88, 39, 97, 24,
       68, 17, 85, 23, 69,  8, 91, 16, 79, 28, 74, 18, 83], dtype=int64)

In [8]:
X = X.values
X

array([[1, 1, 19, 15],
       [2, 1, 21, 15],
       [3, 0, 20, 16],
       [4, 0, 23, 16],
       [5, 0, 31, 17],
       [6, 0, 22, 17],
       [7, 0, 35, 18],
       [8, 0, 23, 18],
       [9, 1, 64, 19],
       [10, 0, 30, 19],
       [11, 1, 67, 19],
       [12, 0, 35, 19],
       [13, 0, 58, 20],
       [14, 0, 24, 20],
       [15, 1, 37, 20],
       [16, 1, 22, 20],
       [17, 0, 35, 21],
       [18, 1, 20, 21],
       [19, 1, 52, 23],
       [20, 0, 35, 23],
       [21, 1, 35, 24],
       [22, 1, 25, 24],
       [23, 0, 46, 25],
       [24, 1, 31, 25],
       [25, 0, 54, 28],
       [26, 1, 29, 28],
       [27, 0, 45, 28],
       [28, 1, 35, 28],
       [29, 0, 40, 29],
       [30, 0, 23, 29],
       [31, 1, 60, 30],
       [32, 0, 21, 30],
       [33, 1, 53, 33],
       [34, 1, 18, 33],
       [35, 0, 49, 33],
       [36, 0, 21, 33],
       [37, 0, 42, 34],
       [38, 0, 30, 34],
       [39, 0, 36, 37],
       [40, 0, 20, 37],
       [41, 0, 65, 38],
       [42, 1, 24, 38],
       [43, 1, 48, 39],
       [44, 0, 31, 39],
       [45, 0, 49, 39],
       [46, 0, 24, 39],
       [47, 0, 50, 40],
       [48, 0, 27, 40],
       [49, 0, 29, 40],
       [50, 0, 31, 40],
       [51, 0, 49, 42],
       [52, 1, 33, 42],
       [53, 0, 31, 43],
       [54, 1, 59, 43],
       [55, 0, 50, 43],
       [56, 1, 47, 43],
       [57, 0, 51, 44],
       [58, 1, 69, 44],
       [59, 0, 27, 46],
       [60, 1, 53, 46],
       [61, 1, 70, 46],
       [62, 1, 19, 46],
       [63, 0, 67, 47],
       [64, 0, 54, 47],
       [65, 1, 63, 48],
       [66, 1, 18, 48],
       [67, 0, 43, 48],
       [68, 0, 68, 48],
       [69, 1, 19, 48],
       [70, 0, 32, 48],
       [71, 1, 70, 49],
       [72, 0, 47, 49],
       [73, 0, 60, 50],
       [74, 0, 60, 50],
       [75, 1, 59, 54],
       [76, 1, 26, 54],
       [77, 0, 45, 54],
       [78, 1, 40, 54],
       [79, 0, 23, 54],
       [80, 0, 49, 54],
       [81, 1, 57, 54],
       [82, 1, 38, 54],
       [83, 1, 67, 54],
       [84, 0, 46, 54],
       [85, 0, 21, 54],
       [86, 1, 48, 54],
       [87, 0, 55, 57],
       [88, 0, 22, 57],
       [89, 0, 34, 58],
       [90, 0, 50, 58],
       [91, 0, 68, 59],
       [92, 1, 18, 59],
       [93, 1, 48, 60],
       [94, 0, 40, 60],
       [95, 0, 32, 60],
       [96, 1, 24, 60],
       [97, 0, 47, 60],
       [98, 0, 27, 60],
       [99, 1, 48, 61],
       [100, 1, 20, 61],
       [101, 0, 23, 62],
       [102, 0, 49, 62],
       [103, 1, 67, 62],
       [104, 1, 26, 62],
       [105, 1, 49, 62],
       [106, 0, 21, 62],
       [107, 0, 66, 63],
       [108, 1, 54, 63],
       [109, 1, 68, 63],
       [110, 1, 66, 63],
       [111, 1, 65, 63],
       [112, 0, 19, 63],
       [113, 0, 38, 64],
       [114, 1, 19, 64],
       [115, 0, 18, 65],
       [116, 0, 19, 65],
       [117, 0, 63, 65],
       [118, 0, 49, 65],
       [119, 0, 51, 67],
       [120, 0, 50, 67],
       [121, 1, 27, 67],
       [122, 0, 38, 67],
       [123, 0, 40, 69],
       [124, 1, 39, 69],
       [125, 0, 23, 70],
       [126, 0, 31, 70],
       [127, 1, 43, 71],
       [128, 1, 40, 71],
       [129, 1, 59, 71],
       [130, 1, 38, 71],
       [131, 1, 47, 71],
       [132, 1, 39, 71],
       [133, 0, 25, 72],
       [134, 0, 31, 72],
       [135, 1, 20, 73],
       [136, 0, 29, 73],
       [137, 0, 44, 73],
       [138, 1, 32, 73],
       [139, 1, 19, 74],
       [140, 0, 35, 74],
       [141, 0, 57, 75],
       [142, 1, 32, 75],
       [143, 0, 28, 76],
       [144, 0, 32, 76],
       [145, 1, 25, 77],
       [146, 1, 28, 77],
       [147, 1, 48, 77],
       [148, 0, 32, 77],
       [149, 0, 34, 78],
       [150, 1, 34, 78],
       [151, 1, 43, 78],
       [152, 1, 39, 78],
       [153, 0, 44, 78],
       [154, 0, 38, 78],
       [155, 0, 47, 78],
       [156, 0, 27, 78],
       [157, 1, 37, 78],
       [158, 0, 30, 78],
       [159, 1, 34, 78],
       [160, 0, 30, 78],
       [161, 0, 56, 79],
       [162, 0, 29, 79],
       [163, 1, 19, 81],
       [164, 0, 31, 81],
       [165, 1, 50, 85],
       [166, 0, 36, 85],
       [167, 1, 42, 86],
       [168, 0, 33, 86],
       [169, 0, 36, 87],
       [170, 1, 32, 87],
       [171, 1, 40, 87],
       [172, 1, 28, 87],
       [173, 1, 36, 87],
       [174, 1, 36, 87],
       [175, 0, 52, 88],
       [176, 0, 30, 88],
       [177, 1, 58, 88],
       [178, 1, 27, 88],
       [179, 1, 59, 93],
       [180, 1, 35, 93],
       [181, 0, 37, 97],
       [182, 0, 32, 97],
       [183, 1, 46, 98],
       [184, 0, 29, 98],
       [185, 0, 41, 99],
       [186, 1, 30, 99],
       [187, 0, 54, 101],
       [188, 1, 28, 101],
       [189, 0, 41, 103],
       [190, 0, 36, 103],
       [191, 0, 34, 103],
       [192, 0, 32, 103],
       [193, 1, 33, 113],
       [194, 0, 38, 113],
       [195, 0, 47, 120],
       [196, 0, 35, 120],
       [197, 0, 45, 126],
       [198, 1, 32, 126],
       [199, 1, 32, 137],
       [200, 1, 30, 137]], dtype=object)

In [9]:
# Standardize the data
scaler = StandardScaler()
X = scaler.fit_transform(X)

# Split the dataset into training and test sets
X_train_val, X_test, y_train_val, y_test = train_test_split(X, Y, test_size=0.15, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.15/0.85, random_state=42)

In [10]:
X_train.shape, X_test.shape, X_val.shape, y_train.shape, y_test.shape, y_val.shape

((139, 4), (30, 4), (31, 4), (139,), (30,), (31,))

In [11]:
# Convert to PyTorch tensors
X_train = torch.tensor(X_train, dtype=torch.float32)
y_train = torch.tensor(y_train, dtype=torch.float32)
X_test = torch.tensor(X_test, dtype=torch.float32)
y_test = torch.tensor(y_test, dtype=torch.float32)
X_val = torch.tensor(X_val, dtype=torch.float32)
y_val = torch.tensor(y_val, dtype=torch.float32)

In [12]:
# Create DataLoader
train_dataset = TensorDataset(X_train, y_train)
train_dataloader = DataLoader(train_dataset, batch_size=32, shuffle=True)

test_dataset = TensorDataset(X_test, y_test)
test_dataloader = DataLoader(test_dataset, batch_size=32, shuffle=False)

val_dataset = TensorDataset(X_test, y_test)
val_dataloader  = DataLoader(val_dataset, batch_size=32, shuffle=False)

In [13]:

X_train.shape, X_test.shape, X_val.shape, y_train.shape, y_test.shape, y_val.shape

(torch.Size([139, 4]),
 torch.Size([30, 4]),
 torch.Size([31, 4]),
 torch.Size([139]),
 torch.Size([30]),
 torch.Size([31]))

In [14]:
class DiabetesDense(nn.Module):
    def __init__(self):
        super(DiabetesDense, self).__init__()
        self.fc1 = nn.Linear(4, 32)
        self.fc2 = nn.Linear(32, 64)
        self.fc3 = nn.Linear(64, 64)
        self.fc4 = nn.Linear(64, 32)
        self.fc5 = nn.Linear(32, 1)  # 4 classes in the dataset
    
    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = torch.relu(self.fc3(x))
        x = torch.relu(self.fc4(x))
        x = self.fc5(x)
        return x

# Initialize the model, loss function, and optimizer
model = DiabetesDense()

In [15]:
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [16]:
# Variables to store loss and accuracy
train_losses = []
val_mses = []

# Training loop
num_epochs = 20
for epoch in range(num_epochs):
    model.train()
    running_loss = 0.0
    for inputs, labels in train_dataloader:
        # Zero the parameter gradients
        optimizer.zero_grad()

        # Forward pass
        outputs = model(inputs)
        labels = labels.view(-1, 1) # label shape 맞춰주기
        loss = criterion(outputs, labels)

        # Backward pass and optimize
        loss.backward()
        optimizer.step()

        running_loss += loss.item()

    # Calculate average loss over an epoch
    train_losses.append(running_loss / len(train_dataloader))

    # Evaluate on test data
    model.eval()
    running_test_loss = 0.0
    with torch.no_grad():
        for inputs, labels in val_dataloader:
            outputs = model(inputs)
            labels = labels.view(-1, 1) # label shape 맞춰주기
            loss = criterion(outputs, labels)
            running_test_loss += loss.item()
    
    val_mses.append(running_test_loss / len(val_dataloader))
    
    print(f"Epoch {epoch + 1}/{num_epochs}, Train Loss: {train_losses[-1]:.4f}, Val MSE: {val_mses[-1]:.4f}")

print("Training complete.")

Epoch 1/20, Train Loss: 3525.2942, Val MSE: 2186.8154
Epoch 2/20, Train Loss: 3605.7847, Val MSE: 2178.2507
Epoch 3/20, Train Loss: 3543.2861, Val MSE: 2166.1482
Epoch 4/20, Train Loss: 3497.4353, Val MSE: 2146.5098
Epoch 5/20, Train Loss: 3315.4478, Val MSE: 2113.2456
Epoch 6/20, Train Loss: 3303.6982, Val MSE: 2058.7529
Epoch 7/20, Train Loss: 3192.0182, Val MSE: 1972.1334
Epoch 8/20, Train Loss: 3043.0466, Val MSE: 1839.7562
Epoch 9/20, Train Loss: 2966.7561, Val MSE: 1644.6140
Epoch 10/20, Train Loss: 2497.9092, Val MSE: 1376.2255
Epoch 11/20, Train Loss: 2248.6038, Val MSE: 1044.8337
Epoch 12/20, Train Loss: 1663.2276, Val MSE: 700.9570
Epoch 13/20, Train Loss: 1127.3758, Val MSE: 480.5723
Epoch 14/20, Train Loss: 796.5074, Val MSE: 528.4026
Epoch 15/20, Train Loss: 752.7850, Val MSE: 762.2744
Epoch 16/20, Train Loss: 848.7132, Val MSE: 757.8392
Epoch 17/20, Train Loss: 686.5483, Val MSE: 581.0989
Epoch 18/20, Train Loss: 681.8182, Val MSE: 498.0175
Epoch 19/20, Train Loss: 677.6387, Val MSE: 477.0687
Epoch 20/20, Train Loss: 705.5404, Val MSE: 487.1479
Training complete.

In [17]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
# Evaluation
model.eval()
all_labels = []
all_predictions = []
with torch.no_grad():
    for inputs, labels in test_dataloader:
        outputs = model(inputs)
        all_labels.extend(labels.cpu().numpy())
        all_predictions.extend(outputs.cpu().numpy())

# Convert to numpy arrays
all_labels = np.array(all_labels)
all_predictions = np.array(all_predictions)

# 회귀 평가 지표 계산
mse = mean_squared_error(all_labels, all_predictions)
mae = mean_absolute_error(all_labels, all_predictions)
r2 = r2_score(all_labels, all_predictions)

print(f"Mean Squared Error (MSE): {mse:.4f}")
print(f"Mean Absolute Error (MAE): {mae:.4f}")
print(f"R^2 Score: {r2:.4f}")

Mean Squared Error (MSE): 487.1479
Mean Absolute Error (MAE): 17.7285
R^2 Score: -0.0163